<a href="https://colab.research.google.com/github/hpdnnr7/CSc448/blob/main/Hope_Dunner_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from sklearn import svm
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score

## Part 1. Loading the dataset

In [ ]:
# Using pandas load the dataset (load remotely, not locally)
dataset = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")
# Output the first 15 rows of the data
dataset.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [ ]:
# Display a summary of the table information (number of datapoints, etc.)
df = pd.DataFrame(dataset)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())
display(df.describe())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB
None

       Temperature °C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

## Part 2. Splitting the dataset

In [ ]:
# Take the pandas dataset and split it into our features (X) and label (y)
features = df[["Temperature °C", "Mols KCL"]]
label = df["Size nm^3"]
X, y = features, label
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.10, random_state=42)
X_train, X_test, y_train, y_test

(     Temperature °C  Mols KCL
 716              95       499
 351             243       384
 936              47       211
 256             495       497
 635              82       421
 ..              ...       ...
 106             439        40
 270             665       245
 860             471       620
 435             829       259
 102             636       388

 [900 rows x 2 columns],
      Temperature °C  Mols KCL
 521             100       541
 737             635       668
 740             799       665
 660             966       871
 411             785       595
 ..              ...       ...
 436             421       725
 764             431       860
 88              983       433
 63              580       817
 826              24        89

 [100 rows x 2 columns],
 716    103064.31430
 351    193753.02860
 936     21670.02857
 256    505027.40000
 635     75092.02857
            ...
 106     40433.71429
 270    335545.00000
 860    600674.85710
 435    441286.60000
 102    505469.25710
 Name: Size nm^3, Length: 900, dtype: float64,
 521    1.177623e+05
 737    8.687293e+05
 740    1.084893e+06
 660    1.716039e+06
 411    9.536850e+05
            ...
 436    6.305199e+05
 764    7.676234e+05
 88     8.684308e+05
 63     9.737511e+05
 826    4.786314e+03
 Name: Size nm^3, Length: 100, dtype: float64)

## Part 3. Perform a Linear Regression

In [ ]:
# Use sklearn to train a model on the training set

# Create a sample datapoint and predict the output of that sample with the trained model
model = LinearRegression().fit(X_train.values, y_train.values)
model.score(X_train.values, y_train.values)
# Report on the score for that model, in your own words (markdown, not code) explain what the score means
# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX

0.8610082946223787

In [ ]:
model.predict(np.array([[3,5]]))

array([-401629.56501086])

In [ ]:
model.coef_

array([ 866.14641337, 1032.69506649])

In [ ]:
model.intercept_

-409391.47958340764

$$ h(x) = 866.14641337 * x_0 + 1032.69506649 * x_1 -409391.47958340764$$

Sample equation: $E = mc^2$

## Part 4. Use Cross Validation

In [ ]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data

# Report on their finding and their significance

In [ ]:
X_train.shape, y_train.shape

((900, 2), (900,))

In [ ]:
X_test.shape, y_test.shape

((100, 2), (100,))

In [ ]:
clf = svm.SVR(kernel='linear', C=1).fit(X_train.values, y_train.values)
clf.score(X_test.values, y_test.values)

0.8581748359324678

0.85 accuracy with a standard deviation of 0.15

## Part 5. Using Polynomial Regression

In [ ]:
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2
poly = PolynomialFeatures(2)
X_train = poly.fit_transform(X_train)
X_test = poly.fit_transform(X_test)

poly_model = model


poly_model.fit(X_train, y_train)
# Report on the metrics and output the resultant equation as you did in Part 3.

LinearRegression()

In [ ]:
poly_model.score(X_train, y_train)

1.0

In [ ]:
poly_model.coef_

array([ 0.00000000e+00,  1.20000000e+01, -1.27195488e-07,  1.26494371e-11,
        2.00000000e+00,  2.85714287e-02])

In [ ]:
poly_model.intercept_

2.0477105863392353e-05

In [ ]:
poly_model.predict(X_test)

array([1.17762314e+05, 8.68729257e+05, 1.08489300e+06, 1.71603946e+06,
       9.53685000e+05, 1.15057114e+05, 2.22299400e+05, 2.85719400e+05,
       2.87802714e+05, 3.58129714e+05, 2.43109457e+05, 2.56621829e+05,
       8.23168314e+05, 1.28610714e+05, 3.55214714e+05, 5.49207314e+05,
       7.11794571e+04, 4.10720600e+05, 2.17334314e+05, 1.48665911e+06,
       7.61464000e+04, 3.30257161e+02, 1.44061911e+06, 6.87856114e+05,
       3.04432457e+05, 1.23172829e+05, 3.30255457e+05, 7.97577257e+05,
       1.07736803e+06, 1.50313257e+05, 3.50800114e+05, 1.16391429e+05,
       3.60092314e+05, 6.22649829e+05, 3.89294314e+05, 9.72528114e+05,
       4.92891314e+05, 4.52268000e+05, 5.54434600e+05, 9.38430829e+05,
       2.24846314e+05, 8.28351143e+04, 9.65613829e+05, 1.14028114e+05,
       4.08676457e+05, 1.01254603e+06, 4.80946400e+05, 3.60768257e+05,
       3.19070314e+05, 8.73038314e+05, 3.05002257e+05, 1.59435511e+06,
       1.24219443e+06, 1.48395457e+05, 1.36031143e+04, 1.10432926e+06,
       5.25291429e+05, 2.44177114e+05, 1.18924114e+05, 4.55983857e+05,
       9.71624114e+05, 9.13729029e+05, 2.45060457e+05, 4.03842857e+05,
       1.40512903e+06, 3.34372457e+05, 1.02252331e+06, 3.37170857e+05,
       6.80136829e+05, 3.11877257e+05, 1.04920946e+06, 1.30851000e+05,
       4.94674314e+05, 5.56986600e+05, 6.51534571e+04, 7.32261029e+05,
       1.02109714e+05, 7.88616000e+04, 8.23033029e+05, 3.03944714e+05,
       2.77241143e+04, 3.42182029e+05, 1.10411426e+06, 7.12977114e+05,
       1.50487143e+04, 3.19512429e+05, 8.68479400e+05, 3.13061829e+05,
       3.77713029e+05, 6.39442429e+05, 1.24874203e+06, 1.46083211e+06,
       4.99694829e+05, 1.89236829e+05, 1.23976740e+06, 6.30519857e+05,
       7.67623429e+05, 8.68430829e+05, 9.73751114e+05, 4.78631430e+03])